[submodule "projetos/marcosv4-blog"]
	path = projetos/marcosv4-blog
	url = https://github.com/marcoslrvusa/marcosv4-blog.git
[submodule "projetos/premiumcleaning"]
	path = projetos/premiumcleaning
	url = https://github.com/marcoslrvusa/premiumcleaning.git
[submodule "projetos/infraestrutura/n8n"]
	path = projetos/infraestrutura/n8n
	url = https://github.com/marcoslrvusa/n8n-command-center.git
[submodule "projetos/infraestrutura/n8n-skills"]
	path = projetos/infraestrutura/n8n-skills
	url = https://github.com/czlonkowski/n8n-skills.git
[submodule "projetos/sdr-ia/dashboard"]
	path = projetos/sdr-ia/dashboard
	url = https://github.com/rforgeon/AgentRails.git
[submodule "projetos/premium-contractors-website"]
	path = projetos/premium-contractors-website
	url = https://github.com/marcoslrvusa/premium-contractors.git
